#  Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.
**Objectives**
* R
* Python
* Julia
* Learning data science methodologies

## Some Popular Languages Data Scientists use are: 
1. R
2. Python
3. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. SciPy

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Mike Goldberg